In [1]:
import pandas as pd
import os

In [2]:
def list_csv_files(directory):
    csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
    return csv_files

directory = 'test_results_CLUSTERS_FULL/'
csv_files = list_csv_files(directory)

def merge_csv_files(directory):
    csv_files = list_csv_files(directory)
    merged_df = pd.DataFrame()

    for file in csv_files:
        file_path = os.path.join(directory, file)
        df = pd.read_csv(file_path)
        df['file_name'] = file
        merged_df = pd.concat([merged_df, df], ignore_index=True)
    
    return merged_df

# Cluster metrics

In [3]:
df_clusters_metrics = merge_csv_files(directory)
df_clusters_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name
0,ALL,33.37,47.19,0.21,19.09,0.14,80.56,71.182951,5067.012568,56.697119,0.356316,results_by_range_cluster0_CNN_H12_LIB193318.csv
1,TBR_2,0.00,0.00,0.00,85.71,14.29,0.00,102.682604,10543.717089,101.238759,1.910165,results_by_range_cluster0_CNN_H12_LIB193318.csv
2,TBR_1,0.00,0.00,0.00,97.06,2.94,0.00,78.447880,6154.069824,76.538977,1.256561,results_by_range_cluster0_CNN_H12_LIB193318.csv
3,TIR,48.24,50.88,0.41,0.47,0.00,99.12,41.179827,1695.778124,33.092941,0.317303,results_by_range_cluster0_CNN_H12_LIB193318.csv
4,TAR_1,28.97,59.66,0.00,11.37,0.00,88.63,62.971161,3965.367163,56.459670,0.258171,results_by_range_cluster0_CNN_H12_LIB193318.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
12199,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,108.374215,11744.970375,107.071786,2.020222,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12200,TBR_1,0.00,0.00,0.00,85.00,15.00,0.00,91.923167,8449.868722,87.072506,1.423593,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12201,TIR,55.77,42.60,1.44,0.14,0.05,98.37,40.237178,1619.030496,31.139506,0.262831,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12202,TAR_1,55.87,40.51,0.00,3.61,0.00,96.38,49.380266,2438.410630,40.545614,0.191495,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12203,TAR_2,22.51,33.95,0.00,43.54,0.00,56.46,105.857074,11205.720072,95.149671,0.332627,results_by_range_cluster5_LSTM_H8_LIB194135.csv

In [4]:
df_clusters_metrics['cluster'] = df_clusters_metrics['file_name'].apply(lambda x: x.split('_')[3])
df_clusters_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name,cluster
0,ALL,33.37,47.19,0.21,19.09,0.14,80.56,71.182951,5067.012568,56.697119,0.356316,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
1,TBR_2,0.00,0.00,0.00,85.71,14.29,0.00,102.682604,10543.717089,101.238759,1.910165,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
2,TBR_1,0.00,0.00,0.00,97.06,2.94,0.00,78.447880,6154.069824,76.538977,1.256561,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
3,TIR,48.24,50.88,0.41,0.47,0.00,99.12,41.179827,1695.778124,33.092941,0.317303,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
4,TAR_1,28.97,59.66,0.00,11.37,0.00,88.63,62.971161,3965.367163,56.459670,0.258171,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12199,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,108.374215,11744.970375,107.071786,2.020222,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12200,TBR_1,0.00,0.00,0.00,85.00,15.00,0.00,91.923167,8449.868722,87.072506,1.423593,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12201,TIR,55.77,42.60,1.44,0.14,0.05,98.37,40.237178,1619.030496,31.139506,0.262831,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12202,TAR_1,55.87,40.51,0.00,3.61,0.00,96.38,49.380266,2438.410630,40.545614,0.191495,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12203,TAR_2,22.51,33.95,0.00,43.54,0.00,56.46,105.857074,11205.720072,95.149671,0.332627,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5

In [5]:
df_clusters_metrics['model'] = df_clusters_metrics['file_name'].apply(lambda x: x.split('_')[4])
df_clusters_metrics['ph'] = df_clusters_metrics['file_name'].apply(lambda x: x.split('_')[-2][1:])
df_clusters_metrics['patient'] = df_clusters_metrics['file_name'].apply(lambda x: x.split('_')[-1][:-4])
df_clusters_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name,cluster,model,ph,patient
0,ALL,33.37,47.19,0.21,19.09,0.14,80.56,71.182951,5067.012568,56.697119,0.356316,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0,CNN,12,LIB193318
1,TBR_2,0.00,0.00,0.00,85.71,14.29,0.00,102.682604,10543.717089,101.238759,1.910165,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0,CNN,12,LIB193318
2,TBR_1,0.00,0.00,0.00,97.06,2.94,0.00,78.447880,6154.069824,76.538977,1.256561,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0,CNN,12,LIB193318
3,TIR,48.24,50.88,0.41,0.47,0.00,99.12,41.179827,1695.778124,33.092941,0.317303,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0,CNN,12,LIB193318
4,TAR_1,28.97,59.66,0.00,11.37,0.00,88.63,62.971161,3965.367163,56.459670,0.258171,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0,CNN,12,LIB193318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12199,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,108.374215,11744.970375,107.071786,2.020222,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5,LSTM,8,LIB194135
12200,TBR_1,0.00,0.00,0.00,85.00,15.00,0.00,91.923167,8449.868722,87.072506,1.423593,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5,LSTM,8,LIB194135
12201,TIR,55.77,42.60,1.44,0.14,0.05,98.37,40.237178,1619.030496,31.139506,0.262831,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5,LSTM,8,LIB194135
12202,TAR_1,55.87,40.51,0.00,3.61,0.00,96.38,49.380266,2438.410630,40.545614,0.191495,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5,LSTM,8,LIB194135
12203,TAR_2,22.51,33.95,0.00,43.54,0.00,56.46,105.857074,11205.720072,95.149671,0.332627,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5,LSTM,8,LIB194135

In [6]:
df_clusters_metrics = df_clusters_metrics.drop(columns=['file_name'])
df_clusters_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,cluster,model,ph,patient
0,ALL,33.37,47.19,0.21,19.09,0.14,80.56,71.182951,5067.012568,56.697119,0.356316,cluster0,CNN,12,LIB193318
1,TBR_2,0.00,0.00,0.00,85.71,14.29,0.00,102.682604,10543.717089,101.238759,1.910165,cluster0,CNN,12,LIB193318
2,TBR_1,0.00,0.00,0.00,97.06,2.94,0.00,78.447880,6154.069824,76.538977,1.256561,cluster0,CNN,12,LIB193318
3,TIR,48.24,50.88,0.41,0.47,0.00,99.12,41.179827,1695.778124,33.092941,0.317303,cluster0,CNN,12,LIB193318
4,TAR_1,28.97,59.66,0.00,11.37,0.00,88.63,62.971161,3965.367163,56.459670,0.258171,cluster0,CNN,12,LIB193318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12199,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,108.374215,11744.970375,107.071786,2.020222,cluster5,LSTM,8,LIB194135
12200,TBR_1,0.00,0.00,0.00,85.00,15.00,0.00,91.923167,8449.868722,87.072506,1.423593,cluster5,LSTM,8,LIB194135
12201,TIR,55.77,42.60,1.44,0.14,0.05,98.37,40.237178,1619.030496,31.139506,0.262831,cluster5,LSTM,8,LIB194135
12202,TAR_1,55.87,40.51,0.00,3.61,0.00,96.38,49.380266,2438.410630,40.545614,0.191495,cluster5,LSTM,8,LIB194135
12203,TAR_2,22.51,33.95,0.00,43.54,0.00,56.46,105.857074,11205.720072,95.149671,0.332627,cluster5,LSTM,8,LIB194135

In [7]:
df_clusters_metrics['ph'] = df_clusters_metrics['ph'].astype(int)

In [8]:
df_clusters_metrics['patient'].value_counts()

patient
LIB193318    108
LIB193580    108
LIB193671    108
LIB193633    108
LIB193624    108
            ...
LIB193637    108
LIB193591    108
LIB193574    108
LIB193556    108
LIB194135    108
Name: count, Length: 113, dtype: int64

# Leer listado de mejores y peores pacientes

In [9]:
df_patients_best = pd.read_csv('Best_and_worst/best_FULL.csv')
df_patients_worst = pd.read_csv('Best_and_worst/worst_FULL.csv')

In [10]:
df_patients_best.drop(columns=['A + B'], inplace=True)
df_patients_worst.drop(columns=['A + B'], inplace=True)

In [11]:
key_columns_cl = ['cluster', 'model', 'ph', 'patient']
df_clusters_metrics_best = pd.merge(df_clusters_metrics, df_patients_best, on=key_columns_cl, how='inner')
df_clusters_metrics_best

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,cluster,model,ph,patient
0,ALL,42.52,52.30,0.14,4.98,0.05,94.82,45.982299,2114.371835,37.557789,0.313181,cluster0,CNN,12,LIB193914
1,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,93.295463,8704.043338,92.957884,1.802872,cluster0,CNN,12,LIB193914
2,TBR_1,0.00,0.00,0.00,98.27,1.73,0.00,76.873811,5909.582834,75.086520,1.181391,cluster0,CNN,12,LIB193914
3,TIR,47.38,51.96,0.18,0.47,0.01,99.34,38.217256,1460.558679,31.361263,0.297474,cluster0,CNN,12,LIB193914
4,TAR_1,31.07,64.09,0.00,4.84,0.00,95.16,57.997785,3363.743079,52.595863,0.249798,cluster0,CNN,12,LIB193914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,TBR_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cluster5,LSTM,8,LIB193368
644,TBR_1,0.00,0.00,0.00,100.00,0.00,0.00,73.752975,5439.501279,71.518752,1.093691,cluster5,LSTM,8,LIB193368
645,TIR,51.86,47.79,0.03,0.31,0.00,99.65,35.387779,1252.294916,28.983607,0.253830,cluster5,LSTM,8,LIB193368
646,TAR_1,61.17,36.21,0.00,2.62,0.00,97.38,45.730107,2091.242682,36.836102,0.172936,cluster5,LSTM,8,LIB193368
647,TAR_2,28.95,51.43,0.00,19.62,0.00,80.38,86.240192,7437.370742,77.632023,0.267865,cluster5,LSTM,8,LIB193368

In [12]:
df_clusters_metrics_worst = pd.merge(df_clusters_metrics, df_patients_worst, on=key_columns_cl, how='inner')
df_clusters_metrics_worst

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,cluster,model,ph,patient
0,ALL,34.41,39.30,0.05,25.91,0.33,73.71,54.570289,2977.916411,45.830027,0.563267,cluster0,CNN,12,LIB193526
1,TBR_2,0.00,0.00,0.00,98.84,1.16,0.00,84.180508,7086.357874,82.863724,1.680084,cluster0,CNN,12,LIB193526
2,TBR_1,0.00,0.00,0.00,98.45,1.55,0.00,76.243326,5813.044720,74.741939,1.240629,cluster0,CNN,12,LIB193526
3,TIR,46.56,52.15,0.08,1.21,0.00,98.71,38.130889,1453.964667,31.381175,0.315329,cluster0,CNN,12,LIB193526
4,TAR_1,45.29,50.71,0.00,4.00,0.00,96.00,51.172098,2618.583618,45.091294,0.215140,cluster0,CNN,12,LIB193526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,61.192477,3744.519194,59.317990,1.123273,cluster5,LSTM,8,LIB193603
644,TBR_1,0.00,0.00,0.00,99.02,0.98,0.00,55.851747,3119.417641,52.917345,0.869843,cluster5,LSTM,8,LIB193603
645,TIR,44.74,52.44,1.12,1.70,0.00,97.18,38.228065,1461.384947,30.459248,0.299835,cluster5,LSTM,8,LIB193603
646,TAR_1,50.10,44.91,0.00,4.99,0.00,95.01,54.892220,3013.155861,45.752520,0.214592,cluster5,LSTM,8,LIB193603
647,TAR_2,26.72,52.34,0.00,20.94,0.00,79.06,89.886861,8079.647825,81.293791,0.277392,cluster5,LSTM,8,LIB193603

In [14]:
df_clusters_metrics_best['class'] = 'best'
df_clusters_metrics_best

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,cluster,model,ph,patient,class
0,ALL,42.52,52.30,0.14,4.98,0.05,94.82,45.982299,2114.371835,37.557789,0.313181,cluster0,CNN,12,LIB193914,best
1,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,93.295463,8704.043338,92.957884,1.802872,cluster0,CNN,12,LIB193914,best
2,TBR_1,0.00,0.00,0.00,98.27,1.73,0.00,76.873811,5909.582834,75.086520,1.181391,cluster0,CNN,12,LIB193914,best
3,TIR,47.38,51.96,0.18,0.47,0.01,99.34,38.217256,1460.558679,31.361263,0.297474,cluster0,CNN,12,LIB193914,best
4,TAR_1,31.07,64.09,0.00,4.84,0.00,95.16,57.997785,3363.743079,52.595863,0.249798,cluster0,CNN,12,LIB193914,best
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,TBR_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cluster5,LSTM,8,LIB193368,best
644,TBR_1,0.00,0.00,0.00,100.00,0.00,0.00,73.752975,5439.501279,71.518752,1.093691,cluster5,LSTM,8,LIB193368,best
645,TIR,51.86,47.79,0.03,0.31,0.00,99.65,35.387779,1252.294916,28.983607,0.253830,cluster5,LSTM,8,LIB193368,best
646,TAR_1,61.17,36.21,0.00,2.62,0.00,97.38,45.730107,2091.242682,36.836102,0.172936,cluster5,LSTM,8,LIB193368,best
647,TAR_2,28.95,51.43,0.00,19.62,0.00,80.38,86.240192,7437.370742,77.632023,0.267865,cluster5,LSTM,8,LIB193368,best

In [16]:
df_clusters_metrics_worst['class'] = 'worst'
df_clusters_metrics_worst

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,cluster,model,ph,patient,class
0,ALL,34.41,39.30,0.05,25.91,0.33,73.71,54.570289,2977.916411,45.830027,0.563267,cluster0,CNN,12,LIB193526,worst
1,TBR_2,0.00,0.00,0.00,98.84,1.16,0.00,84.180508,7086.357874,82.863724,1.680084,cluster0,CNN,12,LIB193526,worst
2,TBR_1,0.00,0.00,0.00,98.45,1.55,0.00,76.243326,5813.044720,74.741939,1.240629,cluster0,CNN,12,LIB193526,worst
3,TIR,46.56,52.15,0.08,1.21,0.00,98.71,38.130889,1453.964667,31.381175,0.315329,cluster0,CNN,12,LIB193526,worst
4,TAR_1,45.29,50.71,0.00,4.00,0.00,96.00,51.172098,2618.583618,45.091294,0.215140,cluster0,CNN,12,LIB193526,worst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,61.192477,3744.519194,59.317990,1.123273,cluster5,LSTM,8,LIB193603,worst
644,TBR_1,0.00,0.00,0.00,99.02,0.98,0.00,55.851747,3119.417641,52.917345,0.869843,cluster5,LSTM,8,LIB193603,worst
645,TIR,44.74,52.44,1.12,1.70,0.00,97.18,38.228065,1461.384947,30.459248,0.299835,cluster5,LSTM,8,LIB193603,worst
646,TAR_1,50.10,44.91,0.00,4.99,0.00,95.01,54.892220,3013.155861,45.752520,0.214592,cluster5,LSTM,8,LIB193603,worst
647,TAR_2,26.72,52.34,0.00,20.94,0.00,79.06,89.886861,8079.647825,81.293791,0.277392,cluster5,LSTM,8,LIB193603,worst

In [17]:
df_clusters_metrics_best_worst = pd.concat([df_clusters_metrics_best, df_clusters_metrics_worst], ignore_index=True)
df_clusters_metrics_best_worst

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,cluster,model,ph,patient,class
0,ALL,42.52,52.30,0.14,4.98,0.05,94.82,45.982299,2114.371835,37.557789,0.313181,cluster0,CNN,12,LIB193914,best
1,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,93.295463,8704.043338,92.957884,1.802872,cluster0,CNN,12,LIB193914,best
2,TBR_1,0.00,0.00,0.00,98.27,1.73,0.00,76.873811,5909.582834,75.086520,1.181391,cluster0,CNN,12,LIB193914,best
3,TIR,47.38,51.96,0.18,0.47,0.01,99.34,38.217256,1460.558679,31.361263,0.297474,cluster0,CNN,12,LIB193914,best
4,TAR_1,31.07,64.09,0.00,4.84,0.00,95.16,57.997785,3363.743079,52.595863,0.249798,cluster0,CNN,12,LIB193914,best
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,61.192477,3744.519194,59.317990,1.123273,cluster5,LSTM,8,LIB193603,worst
1292,TBR_1,0.00,0.00,0.00,99.02,0.98,0.00,55.851747,3119.417641,52.917345,0.869843,cluster5,LSTM,8,LIB193603,worst
1293,TIR,44.74,52.44,1.12,1.70,0.00,97.18,38.228065,1461.384947,30.459248,0.299835,cluster5,LSTM,8,LIB193603,worst
1294,TAR_1,50.10,44.91,0.00,4.99,0.00,95.01,54.892220,3013.155861,45.752520,0.214592,cluster5,LSTM,8,LIB193603,worst
1295,TAR_2,26.72,52.34,0.00,20.94,0.00,79.06,89.886861,8079.647825,81.293791,0.277392,cluster5,LSTM,8,LIB193603,worst

# Personalized metrics

In [18]:
df_personalized_metrics = merge_csv_files('Personalized_models_results/test_results_personalized_FULL')
df_personalized_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name
0,ALL,40.73,46.13,4.38,7.87,0.89,86.86,71.738554,5146.420191,57.119942,0.382889,results_by_range_patient_LIB193326_CNN_H12.csv
1,TBR_2,0.00,0.00,0.00,0.00,100.00,0.00,152.978180,23402.323535,152.978180,2.886381,results_by_range_patient_LIB193326_CNN_H12.csv
2,TBR_1,0.00,0.00,0.00,76.74,23.26,0.00,112.894489,12745.165718,107.376643,1.761109,results_by_range_patient_LIB193326_CNN_H12.csv
3,TIR,29.45,59.57,10.65,0.00,0.33,89.02,67.432870,4547.192017,55.299300,0.515513,results_by_range_patient_LIB193326_CNN_H12.csv
4,TAR_1,60.73,35.19,0.00,4.08,0.00,95.92,44.966089,2021.949160,37.007320,0.170999,results_by_range_patient_LIB193326_CNN_H12.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
2911,TBR_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,results_by_range_patient_LIB194157_LSTM_H8.csv
2912,TBR_1,0.00,0.00,0.00,100.00,0.00,0.00,76.054354,5784.264837,76.005251,1.191618,results_by_range_patient_LIB194157_LSTM_H8.csv
2913,TIR,61.77,38.16,0.00,0.07,0.00,99.93,28.228545,796.850742,23.506331,0.211382,results_by_range_patient_LIB194157_LSTM_H8.csv
2914,TAR_1,0.00,94.20,0.00,5.80,0.00,94.20,67.831857,4601.160860,65.353358,0.313087,results_by_range_patient_LIB194157_LSTM_H8.csv
2915,TAR_2,0.00,0.00,0.00,100.00,0.00,0.00,118.606211,14067.433250,118.494655,0.458184,results_by_range_patient_LIB194157_LSTM_H8.csv

In [19]:
df_personalized_metrics['patient'] = df_personalized_metrics['file_name'].apply(lambda x: x.split('_')[4])
df_personalized_metrics['model'] = df_personalized_metrics['file_name'].apply(lambda x: x.split('_')[5])
df_personalized_metrics['ph'] = df_personalized_metrics['file_name'].apply(lambda x: x.split('_')[-1].split('.')[0][1:])
df_personalized_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name,patient,model,ph
0,ALL,40.73,46.13,4.38,7.87,0.89,86.86,71.738554,5146.420191,57.119942,0.382889,results_by_range_patient_LIB193326_CNN_H12.csv,LIB193326,CNN,12
1,TBR_2,0.00,0.00,0.00,0.00,100.00,0.00,152.978180,23402.323535,152.978180,2.886381,results_by_range_patient_LIB193326_CNN_H12.csv,LIB193326,CNN,12
2,TBR_1,0.00,0.00,0.00,76.74,23.26,0.00,112.894489,12745.165718,107.376643,1.761109,results_by_range_patient_LIB193326_CNN_H12.csv,LIB193326,CNN,12
3,TIR,29.45,59.57,10.65,0.00,0.33,89.02,67.432870,4547.192017,55.299300,0.515513,results_by_range_patient_LIB193326_CNN_H12.csv,LIB193326,CNN,12
4,TAR_1,60.73,35.19,0.00,4.08,0.00,95.92,44.966089,2021.949160,37.007320,0.170999,results_by_range_patient_LIB193326_CNN_H12.csv,LIB193326,CNN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,TBR_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,results_by_range_patient_LIB194157_LSTM_H8.csv,LIB194157,LSTM,8
2912,TBR_1,0.00,0.00,0.00,100.00,0.00,0.00,76.054354,5784.264837,76.005251,1.191618,results_by_range_patient_LIB194157_LSTM_H8.csv,LIB194157,LSTM,8
2913,TIR,61.77,38.16,0.00,0.07,0.00,99.93,28.228545,796.850742,23.506331,0.211382,results_by_range_patient_LIB194157_LSTM_H8.csv,LIB194157,LSTM,8
2914,TAR_1,0.00,94.20,0.00,5.80,0.00,94.20,67.831857,4601.160860,65.353358,0.313087,results_by_range_patient_LIB194157_LSTM_H8.csv,LIB194157,LSTM,8
2915,TAR_2,0.00,0.00,0.00,100.00,0.00,0.00,118.606211,14067.433250,118.494655,0.458184,results_by_range_patient_LIB194157_LSTM_H8.csv,LIB194157,LSTM,8

In [20]:
df_personalized_metrics = df_personalized_metrics.drop(columns=['file_name'])
df_personalized_metrics['ph'] = df_personalized_metrics['ph'].astype(int)
df_personalized_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,patient,model,ph
0,ALL,40.73,46.13,4.38,7.87,0.89,86.86,71.738554,5146.420191,57.119942,0.382889,LIB193326,CNN,12
1,TBR_2,0.00,0.00,0.00,0.00,100.00,0.00,152.978180,23402.323535,152.978180,2.886381,LIB193326,CNN,12
2,TBR_1,0.00,0.00,0.00,76.74,23.26,0.00,112.894489,12745.165718,107.376643,1.761109,LIB193326,CNN,12
3,TIR,29.45,59.57,10.65,0.00,0.33,89.02,67.432870,4547.192017,55.299300,0.515513,LIB193326,CNN,12
4,TAR_1,60.73,35.19,0.00,4.08,0.00,95.92,44.966089,2021.949160,37.007320,0.170999,LIB193326,CNN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,TBR_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LIB194157,LSTM,8
2912,TBR_1,0.00,0.00,0.00,100.00,0.00,0.00,76.054354,5784.264837,76.005251,1.191618,LIB194157,LSTM,8
2913,TIR,61.77,38.16,0.00,0.07,0.00,99.93,28.228545,796.850742,23.506331,0.211382,LIB194157,LSTM,8
2914,TAR_1,0.00,94.20,0.00,5.80,0.00,94.20,67.831857,4601.160860,65.353358,0.313087,LIB194157,LSTM,8
2915,TAR_2,0.00,0.00,0.00,100.00,0.00,0.00,118.606211,14067.433250,118.494655,0.458184,LIB194157,LSTM,8

In [21]:
df_personalized_metrics[(df_personalized_metrics['patient'] == 'LIB193859') & (df_personalized_metrics['ph'] == '12')]

Empty DataFrame
Columns: [Model, A, B, C, D, E, A + B, RMSE, MSE, MAE, MAPE, patient, model, ph]
Index: []

In [22]:
key_columns = ['Model', 'model', 'patient', 'ph']
df_merge = pd.merge(df_clusters_metrics_best_worst, df_personalized_metrics, on=key_columns, suffixes=('_cluster', '_personalized'))
df_merge

,Model,A_cluster,B_cluster,C_cluster,D_cluster,E_cluster,A + B_cluster,RMSE_cluster,MSE_cluster,MAE_cluster,...,A_personalized,B_personalized,C_personalized,D_personalized,E_personalized,A + B_personalized,RMSE_personalized,MSE_personalized,MAE_personalized,MAPE_personalized
0,ALL,42.52,52.30,0.14,4.98,0.05,94.82,45.982299,2114.371835,37.557789,...,42.05,52.23,0.01,5.72,0.00,94.28,46.022890,2118.106372,37.803139,0.315513
1,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,93.295463,8704.043338,92.957884,...,0.00,0.00,0.00,100.00,0.00,0.00,97.061251,9420.886353,96.757292,1.880586
2,TBR_1,0.00,0.00,0.00,98.27,1.73,0.00,76.873811,5909.582834,75.086520,...,0.00,0.00,0.00,100.00,0.00,0.00,79.439203,6310.587035,78.379382,1.233705
3,TIR,47.38,51.96,0.18,0.47,0.01,99.34,38.217256,1460.558679,31.361263,...,49.13,50.37,0.01,0.49,0.00,99.50,37.129807,1378.622543,30.645629,0.294655
4,TAR_1,31.07,64.09,0.00,4.84,0.00,95.16,57.997785,3363.743079,52.595863,...,20.25,73.64,0.00,6.11,0.00,93.89,59.469266,3536.593587,55.927307,0.265470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,61.192477,3744.519194,59.317990,...,15.38,0.00,0.00,83.33,1.28,15.38,38.548819,1486.011477,31.999267,0.606005
1292,TBR_1,0.00,0.00,0.00,99.02,0.98,0.00,55.851747,3119.417641,52.917345,...,9.96,0.00,0.00,87.89,2.15,9.96,43.375784,1881.458605,35.462488,0.578545
1293,TIR,44.74,52.44,1.12,1.70,0.00,97.18,38.228065,1461.384947,30.459248,...,46.87,50.69,1.01,1.43,0.00,97.56,39.532182,1562.793425,30.689404,0.288017
1294,TAR_1,50.10,44.91,0.00,4.99,0.00,95.01,54.892220,3013.155861,45.752520,...,67.18,28.98,0.00,3.45,0.38,96.16,49.507879,2451.030061,39.940350,0.185954
1295,TAR_2,26.72,52.34,0.00,20.94,0.00,79.06,89.886861,8079.647825,81.293791,...,3.58,86.78,0.00,9.64,0.00,90.36,95.422787,9105.508223,90.971244,0.309177

In [23]:
common_columns = df_clusters_metrics_best_worst.columns.intersection(df_personalized_metrics.columns).difference(key_columns)
common_columns

Index(['A', 'A + B', 'B', 'C', 'D', 'E', 'MAE', 'MAPE', 'MSE', 'RMSE'], dtype='object')

In [24]:
# Find the difference between cluster and personalized (cluster - personalized)
# In clinical metrics NEGATIVE value means personalized better, POSITIVE value means Cluster better
# In mathematical metrics NEGATIVE value means cluster better, POSITIVE value means personalized better
for current_col in common_columns:
    df_merge[current_col + '_diff'] = df_merge[current_col + '_cluster'] - df_merge[current_col + '_personalized']

df_merge

,Model,A_cluster,B_cluster,C_cluster,D_cluster,E_cluster,A + B_cluster,RMSE_cluster,MSE_cluster,MAE_cluster,...,A_diff,A + B_diff,B_diff,C_diff,D_diff,E_diff,MAE_diff,MAPE_diff,MSE_diff,RMSE_diff
0,ALL,42.52,52.30,0.14,4.98,0.05,94.82,45.982299,2114.371835,37.557789,...,0.47,0.54,0.07,0.13,-0.74,0.05,-0.245350,-0.002331,-3.734537,-0.040591
1,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,93.295463,8704.043338,92.957884,...,0.00,0.00,0.00,0.00,0.00,0.00,-3.799408,-0.077714,-716.843015,-3.765788
2,TBR_1,0.00,0.00,0.00,98.27,1.73,0.00,76.873811,5909.582834,75.086520,...,0.00,0.00,0.00,0.00,-1.73,1.73,-3.292861,-0.052315,-401.004202,-2.565392
3,TIR,47.38,51.96,0.18,0.47,0.01,99.34,38.217256,1460.558679,31.361263,...,-1.75,-0.16,1.59,0.17,-0.02,0.01,0.715634,0.002819,81.936135,1.087450
4,TAR_1,31.07,64.09,0.00,4.84,0.00,95.16,57.997785,3363.743079,52.595863,...,10.82,1.27,-9.55,0.00,-1.27,0.00,-3.331444,-0.015672,-172.850508,-1.471481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,61.192477,3744.519194,59.317990,...,-15.38,-15.38,0.00,0.00,16.67,-1.28,27.318723,0.517268,2258.507718,22.643657
1292,TBR_1,0.00,0.00,0.00,99.02,0.98,0.00,55.851747,3119.417641,52.917345,...,-9.96,-9.96,0.00,0.00,11.13,-1.17,17.454857,0.291298,1237.959037,12.475963
1293,TIR,44.74,52.44,1.12,1.70,0.00,97.18,38.228065,1461.384947,30.459248,...,-2.13,-0.38,1.75,0.11,0.27,0.00,-0.230157,0.011818,-101.408479,-1.304117
1294,TAR_1,50.10,44.91,0.00,4.99,0.00,95.01,54.892220,3013.155861,45.752520,...,-17.08,-1.15,15.93,0.00,1.54,-0.38,5.812170,0.028638,562.125800,5.384342
1295,TAR_2,26.72,52.34,0.00,20.94,0.00,79.06,89.886861,8079.647825,81.293791,...,23.14,-11.30,-34.44,0.00,11.30,0.00,-9.677453,-0.031785,-1025.860398,-5.535925

In [25]:
df_merge[['A + B_cluster', 'A + B_personalized', 'A + B_diff']].describe()

       A + B_cluster  A + B_personalized   A + B_diff
count    1213.000000         1213.000000  1213.000000
mean       64.218376           66.403858    -2.185482
std        42.223918           40.197924    13.877276
min         0.000000            0.000000   -90.800000
25%         3.120000           20.190000    -0.800000
50%        91.180000           90.890000     0.000000
75%        98.710000           98.480000     0.430000
max       100.000000          100.000000   100.000000

In [26]:
final_columns = key_columns + [column + '_diff' for column in common_columns]
final_columns

['Model',
 'model',
 'patient',
 'ph',
 'A_diff',
 'A + B_diff',
 'B_diff',
 'C_diff',
 'D_diff',
 'E_diff',
 'MAE_diff',
 'MAPE_diff',
 'MSE_diff',
 'RMSE_diff']

In [27]:
df_diff = df_merge[final_columns + ['class', 'cluster']]
df_diff

,Model,model,patient,ph,A_diff,A + B_diff,B_diff,C_diff,D_diff,E_diff,MAE_diff,MAPE_diff,MSE_diff,RMSE_diff,class,cluster
0,ALL,CNN,LIB193914,12,0.47,0.54,0.07,0.13,-0.74,0.05,-0.245350,-0.002331,-3.734537,-0.040591,best,cluster0
1,TBR_2,CNN,LIB193914,12,0.00,0.00,0.00,0.00,0.00,0.00,-3.799408,-0.077714,-716.843015,-3.765788,best,cluster0
2,TBR_1,CNN,LIB193914,12,0.00,0.00,0.00,0.00,-1.73,1.73,-3.292861,-0.052315,-401.004202,-2.565392,best,cluster0
3,TIR,CNN,LIB193914,12,-1.75,-0.16,1.59,0.17,-0.02,0.01,0.715634,0.002819,81.936135,1.087450,best,cluster0
4,TAR_1,CNN,LIB193914,12,10.82,1.27,-9.55,0.00,-1.27,0.00,-3.331444,-0.015672,-172.850508,-1.471481,best,cluster0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,TBR_2,LSTM,LIB193603,8,-15.38,-15.38,0.00,0.00,16.67,-1.28,27.318723,0.517268,2258.507718,22.643657,worst,cluster5
1292,TBR_1,LSTM,LIB193603,8,-9.96,-9.96,0.00,0.00,11.13,-1.17,17.454857,0.291298,1237.959037,12.475963,worst,cluster5
1293,TIR,LSTM,LIB193603,8,-2.13,-0.38,1.75,0.11,0.27,0.00,-0.230157,0.011818,-101.408479,-1.304117,worst,cluster5
1294,TAR_1,LSTM,LIB193603,8,-17.08,-1.15,15.93,0.00,1.54,-0.38,5.812170,0.028638,562.125800,5.384342,worst,cluster5
1295,TAR_2,LSTM,LIB193603,8,23.14,-11.30,-34.44,0.00,11.30,0.00,-9.677453,-0.031785,-1025.860398,-5.535925,worst,cluster5

In [28]:
# df_diff.to_csv('Differences between cluster and personalized models FULL - 2024-09-25.csv', index=False)

In [29]:
personalized_columns = key_columns + [column + '_personalized' for column in common_columns]
personalized_columns

['Model',
 'model',
 'patient',
 'ph',
 'A_personalized',
 'A + B_personalized',
 'B_personalized',
 'C_personalized',
 'D_personalized',
 'E_personalized',
 'MAE_personalized',
 'MAPE_personalized',
 'MSE_personalized',
 'RMSE_personalized']

In [30]:
df_personalized_metrics_filter = df_merge[personalized_columns + ['class', 'cluster']]
df_personalized_metrics_filter

,Model,model,patient,ph,A_personalized,A + B_personalized,B_personalized,C_personalized,D_personalized,E_personalized,MAE_personalized,MAPE_personalized,MSE_personalized,RMSE_personalized,class,cluster
0,ALL,CNN,LIB193914,12,42.05,94.28,52.23,0.01,5.72,0.00,37.803139,0.315513,2118.106372,46.022890,best,cluster0
1,TBR_2,CNN,LIB193914,12,0.00,0.00,0.00,0.00,100.00,0.00,96.757292,1.880586,9420.886353,97.061251,best,cluster0
2,TBR_1,CNN,LIB193914,12,0.00,0.00,0.00,0.00,100.00,0.00,78.379382,1.233705,6310.587035,79.439203,best,cluster0
3,TIR,CNN,LIB193914,12,49.13,99.50,50.37,0.01,0.49,0.00,30.645629,0.294655,1378.622543,37.129807,best,cluster0
4,TAR_1,CNN,LIB193914,12,20.25,93.89,73.64,0.00,6.11,0.00,55.927307,0.265470,3536.593587,59.469266,best,cluster0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,TBR_2,LSTM,LIB193603,8,15.38,15.38,0.00,0.00,83.33,1.28,31.999267,0.606005,1486.011477,38.548819,worst,cluster5
1292,TBR_1,LSTM,LIB193603,8,9.96,9.96,0.00,0.00,87.89,2.15,35.462488,0.578545,1881.458605,43.375784,worst,cluster5
1293,TIR,LSTM,LIB193603,8,46.87,97.56,50.69,1.01,1.43,0.00,30.689404,0.288017,1562.793425,39.532182,worst,cluster5
1294,TAR_1,LSTM,LIB193603,8,67.18,96.16,28.98,0.00,3.45,0.38,39.940350,0.185954,2451.030061,49.507879,worst,cluster5
1295,TAR_2,LSTM,LIB193603,8,3.58,90.36,86.78,0.00,9.64,0.00,90.971244,0.309177,9105.508223,95.422787,worst,cluster5

In [31]:
# df_personalized_metrics_filter.to_csv('Personalized metrics FULL - 2024-09-25.csv', index=False)