In [3]:
import pandas as pd
import os

In [4]:
def list_csv_files(directory):
    csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
    return csv_files

directory = 'test_results_CLUSTERS_FULL'
csv_files = list_csv_files(directory)

def merge_csv_files(directory):
    csv_files = list_csv_files(directory)
    merged_df = pd.DataFrame()

    for file in csv_files:
        file_path = os.path.join(directory, file)
        df = pd.read_csv(file_path)
        df['file_name'] = file
        merged_df = pd.concat([merged_df, df], ignore_index=True)
    
    return merged_df

df_clusters_metrics = merge_csv_files(directory)
df_clusters_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name
0,ALL,33.37,47.19,0.21,19.09,0.14,80.56,71.182951,5067.012568,56.697119,0.356316,results_by_range_cluster0_CNN_H12_LIB193318.csv
1,TBR_2,0.00,0.00,0.00,85.71,14.29,0.00,102.682604,10543.717089,101.238759,1.910165,results_by_range_cluster0_CNN_H12_LIB193318.csv
2,TBR_1,0.00,0.00,0.00,97.06,2.94,0.00,78.447880,6154.069824,76.538977,1.256561,results_by_range_cluster0_CNN_H12_LIB193318.csv
3,TIR,48.24,50.88,0.41,0.47,0.00,99.12,41.179827,1695.778124,33.092941,0.317303,results_by_range_cluster0_CNN_H12_LIB193318.csv
4,TAR_1,28.97,59.66,0.00,11.37,0.00,88.63,62.971161,3965.367163,56.459670,0.258171,results_by_range_cluster0_CNN_H12_LIB193318.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
12199,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,108.374215,11744.970375,107.071786,2.020222,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12200,TBR_1,0.00,0.00,0.00,85.00,15.00,0.00,91.923167,8449.868722,87.072506,1.423593,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12201,TIR,55.77,42.60,1.44,0.14,0.05,98.37,40.237178,1619.030496,31.139506,0.262831,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12202,TAR_1,55.87,40.51,0.00,3.61,0.00,96.38,49.380266,2438.410630,40.545614,0.191495,results_by_range_cluster5_LSTM_H8_LIB194135.csv
12203,TAR_2,22.51,33.95,0.00,43.54,0.00,56.46,105.857074,11205.720072,95.149671,0.332627,results_by_range_cluster5_LSTM_H8_LIB194135.csv

In [5]:
df_clusters_metrics['cluster'] = df_clusters_metrics['file_name'].apply(lambda x: x.split('_')[3])
df_clusters_metrics

,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name,cluster
0,ALL,33.37,47.19,0.21,19.09,0.14,80.56,71.182951,5067.012568,56.697119,0.356316,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
1,TBR_2,0.00,0.00,0.00,85.71,14.29,0.00,102.682604,10543.717089,101.238759,1.910165,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
2,TBR_1,0.00,0.00,0.00,97.06,2.94,0.00,78.447880,6154.069824,76.538977,1.256561,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
3,TIR,48.24,50.88,0.41,0.47,0.00,99.12,41.179827,1695.778124,33.092941,0.317303,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
4,TAR_1,28.97,59.66,0.00,11.37,0.00,88.63,62.971161,3965.367163,56.459670,0.258171,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12199,TBR_2,0.00,0.00,0.00,100.00,0.00,0.00,108.374215,11744.970375,107.071786,2.020222,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12200,TBR_1,0.00,0.00,0.00,85.00,15.00,0.00,91.923167,8449.868722,87.072506,1.423593,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12201,TIR,55.77,42.60,1.44,0.14,0.05,98.37,40.237178,1619.030496,31.139506,0.262831,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12202,TAR_1,55.87,40.51,0.00,3.61,0.00,96.38,49.380266,2438.410630,40.545614,0.191495,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5
12203,TAR_2,22.51,33.95,0.00,43.54,0.00,56.46,105.857074,11205.720072,95.149671,0.332627,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5

In [6]:
df_clusters_metrics['cluster'].value_counts()

cluster
cluster4    2700
cluster2    2592
cluster5    2052
cluster3    1944
cluster0    1512
cluster1    1404
Name: count, dtype: int64

In [7]:
df_clusters_A_plus_B = df_clusters_metrics[df_clusters_metrics['Model'] == 'ALL']
df_clusters_A_plus_B = df_clusters_A_plus_B[['A + B', 'file_name', 'cluster']]
df_clusters_A_plus_B

       A + B                                        file_name   cluster
0      80.56  results_by_range_cluster0_CNN_H12_LIB193318.csv  cluster0
6      83.36  results_by_range_cluster0_CNN_H12_LIB193326.csv  cluster0
12     89.17  results_by_range_cluster0_CNN_H12_LIB193428.csv  cluster0
18     78.42  results_by_range_cluster0_CNN_H12_LIB193481.csv  cluster0
24     86.09  results_by_range_cluster0_CNN_H12_LIB193483.csv  cluster0
...      ...                                              ...       ...
12174  92.10  results_by_range_cluster5_LSTM_H8_LIB194054.csv  cluster5
12180  94.70  results_by_range_cluster5_LSTM_H8_LIB194061.csv  cluster5
12186  88.27  results_by_range_cluster5_LSTM_H8_LIB194081.csv  cluster5
12192  90.53  results_by_range_cluster5_LSTM_H8_LIB194084.csv  cluster5
12198  93.50  results_by_range_cluster5_LSTM_H8_LIB194135.csv  cluster5

[2034 rows x 3 columns]

In [8]:
df_clusters_A_plus_B['model'] = df_clusters_A_plus_B['file_name'].apply(lambda x: x.split('_')[4])
df_clusters_A_plus_B['ph'] = df_clusters_A_plus_B['file_name'].apply(lambda x: x.split('_')[-2][1:])
df_clusters_A_plus_B['patient'] = df_clusters_A_plus_B['file_name'].apply(lambda x: x.split('_')[-1][:-4])
df_clusters_A_plus_B

,A + B,file_name,cluster,model,ph,patient
0,80.56,results_by_range_cluster0_CNN_H12_LIB193318.csv,cluster0,CNN,12,LIB193318
6,83.36,results_by_range_cluster0_CNN_H12_LIB193326.csv,cluster0,CNN,12,LIB193326
12,89.17,results_by_range_cluster0_CNN_H12_LIB193428.csv,cluster0,CNN,12,LIB193428
18,78.42,results_by_range_cluster0_CNN_H12_LIB193481.csv,cluster0,CNN,12,LIB193481
24,86.09,results_by_range_cluster0_CNN_H12_LIB193483.csv,cluster0,CNN,12,LIB193483
...,...,...,...,...,...,...
12174,92.10,results_by_range_cluster5_LSTM_H8_LIB194054.csv,cluster5,LSTM,8,LIB194054
12180,94.70,results_by_range_cluster5_LSTM_H8_LIB194061.csv,cluster5,LSTM,8,LIB194061
12186,88.27,results_by_range_cluster5_LSTM_H8_LIB194081.csv,cluster5,LSTM,8,LIB194081
12192,90.53,results_by_range_cluster5_LSTM_H8_LIB194084.csv,cluster5,LSTM,8,LIB194084
12198,93.50,results_by_range_cluster5_LSTM_H8_LIB194135.csv,cluster5,LSTM,8,LIB194135

In [10]:
df_clusters_A_plus_B['model'].value_counts()

model
CNN       678
Linear    678
LSTM      678
Name: count, dtype: int64

In [43]:
df_clusters_A_plus_B['ph'].value_counts()

ph
12    18.833333
16    18.833333
2     18.833333
4     18.833333
6     18.833333
8     18.833333
Name: count, dtype: float64

In [31]:
df_clusters_A_plus_B['patient'].value_counts()

patient
LIB193318    18
LIB193580    18
LIB193671    18
LIB193633    18
LIB193624    18
             ..
LIB193637    18
LIB193591    18
LIB193574    18
LIB193556    18
LIB194135    18
Name: count, Length: 113, dtype: int64

In [13]:
df_clusters_A_plus_B = df_clusters_A_plus_B.drop(columns=['file_name'])
df_clusters_A_plus_B

       A + B   cluster model  ph    patient
0      80.56  cluster0   CNN  12  LIB193318
6      83.36  cluster0   CNN  12  LIB193326
12     89.17  cluster0   CNN  12  LIB193428
18     78.42  cluster0   CNN  12  LIB193481
24     86.09  cluster0   CNN  12  LIB193483
...      ...       ...   ...  ..        ...
12174  92.10  cluster5  LSTM   8  LIB194054
12180  94.70  cluster5  LSTM   8  LIB194061
12186  88.27  cluster5  LSTM   8  LIB194081
12192  90.53  cluster5  LSTM   8  LIB194084
12198  93.50  cluster5  LSTM   8  LIB194135

[2034 rows x 5 columns]

In [26]:
df_clusters_A_plus_B['patient'].value_counts()

patient
LIB193318    18
LIB193580    18
LIB193671    18
LIB193633    18
LIB193624    18
             ..
LIB193637    18
LIB193591    18
LIB193574    18
LIB193556    18
LIB194135    18
Name: count, Length: 113, dtype: int64

In [27]:
df_clusters_A_plus_B['cluster']

0        cluster0
6        cluster0
12       cluster0
18       cluster0
24       cluster0
           ...
12174    cluster5
12180    cluster5
12186    cluster5
12192    cluster5
12198    cluster5
Name: cluster, Length: 2034, dtype: object

In [15]:
df_clusters_A_plus_B.sort_values(by=['cluster', 'model', 'ph', 'A + B'], ascending=[True, True, True, True])

       A + B   cluster   model  ph    patient
30     73.71  cluster0     CNN  12  LIB193526
18     78.42  cluster0     CNN  12  LIB193481
78     79.05  cluster0     CNN  12  LIB194097
0      80.56  cluster0     CNN  12  LIB193318
6      83.36  cluster0     CNN  12  LIB193326
...      ...       ...     ...  ..        ...
11514  93.12  cluster5  Linear   8  LIB194135
11418  93.69  cluster5  Linear   8  LIB193427
11442  93.75  cluster5  Linear   8  LIB193840
11496  94.06  cluster5  Linear   8  LIB194061
11412  95.63  cluster5  Linear   8  LIB193368

[2034 rows x 5 columns]

In [16]:
df_clusters_A_plus_B['ph'] = df_clusters_A_plus_B['ph'].astype(int)
df_clusters_A_plus_B.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2034 entries, 0 to 12198
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   A + B    2016 non-null   float64
 1   cluster  2034 non-null   object
 2   model    2034 non-null   object
 3   ph       2034 non-null   int32
 4   patient  2034 non-null   object
dtypes: float64(1), int32(1), object(3)
memory usage: 87.4+ KB

In [18]:
df_best = df_clusters_A_plus_B.loc[df_clusters_A_plus_B.groupby(['cluster', 'model', 'ph'])['A + B'].idxmax()]
df_best = df_best.reset_index(drop=True)
df_best

     A + B   cluster   model  ph    patient
0    99.24  cluster0     CNN   2  LIB193859
1    97.15  cluster0     CNN   4  LIB193859
2    95.60  cluster0     CNN   6  LIB193914
3    95.24  cluster0     CNN   8  LIB193914
4    94.82  cluster0     CNN  12  LIB193914
..     ...       ...     ...  ..        ...
103  98.52  cluster5  Linear   4  LIB193368
104  97.61  cluster5  Linear   6  LIB193368
105  95.63  cluster5  Linear   8  LIB193368
106  91.27  cluster5  Linear  12  LIB193427
107  89.54  cluster5  Linear  16  LIB193427

[108 rows x 5 columns]

In [19]:
df_worst = df_clusters_A_plus_B.loc[df_clusters_A_plus_B.groupby(['cluster', 'model', 'ph'])['A + B'].idxmin()]
df_worst = df_worst.reset_index(drop=True)
df_worst

     A + B   cluster   model  ph    patient
0    84.46  cluster0     CNN   2  LIB193526
1    76.86  cluster0     CNN   4  LIB193526
2    75.95  cluster0     CNN   6  LIB193526
3    75.37  cluster0     CNN   8  LIB193526
4    73.71  cluster0     CNN  12  LIB193526
..     ...       ...     ...  ..        ...
103  82.27  cluster5  Linear   4  LIB193603
104  79.79  cluster5  Linear   6  LIB193603
105  77.77  cluster5  Linear   8  LIB193603
106  73.45  cluster5  Linear  12  LIB193603
107  69.96  cluster5  Linear  16  LIB193603

[108 rows x 5 columns]

In [20]:
best_unique_list = df_best['patient'].unique()
best_unique_list

array(['LIB193859', 'LIB193914', 'LIB193736', 'LIB193385', 'LIB194030',
       'LIB194050', 'LIB193556', 'LIB193551', 'LIB193871', 'LIB193518',
       'LIB193960', 'LIB194157', 'LIB193368', 'LIB193795', 'LIB194054',
       'LIB194036', 'LIB193427'], dtype=object)

In [16]:
df_worst['patient'].unique()
worst_unique_list = df_worst['patient'].unique()
worst_unique_list

array(['LIB193526', 'LIB193326', 'LIB194097', 'LIB193821', 'LIB194012',
       'LIB193916', 'LIB193878', 'LIB193826', 'LIB193838', 'LIB193603'],
      dtype=object)

In [17]:
df_best.to_csv('Best_and_worst/best_FULL.csv', index=False)

In [18]:
df_worst.to_csv('Best_and_worst/worst_FULL.csv', index=False)

In [19]:
pd.DataFrame(best_unique_list).to_csv('Best_and_worst/best_unique_list_FULL.csv', index=False)
pd.DataFrame(worst_unique_list).to_csv('Best_and_worst/worst_unique_list_FULL.csv', index=False)