In [1]:
import pandas as pd
import os

In [ ]:
def list_csv_files(directory):
    csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
    return csv_files

directory = 'cluster_results/'
csv_files = list_csv_files(directory)

def merge_csv_files(directory):
    csv_files = list_csv_files(directory)
    merged_df = pd.DataFrame()

    for file in csv_files:
        file_path = os.path.join(directory, file)
        df = pd.read_csv(file_path)
        df['file_name'] = file
        merged_df = pd.concat([merged_df, df], ignore_index=True)
    
    return merged_df

df_clusters = merge_csv_files(directory)
df_clusters = df_clusters.round(2)

df_clusters['cluster'] = df_clusters['file_name'].apply(lambda x: x.split('_')[3])

In [5]:
df_clusters['cluster'].value_counts()

cluster
cluster0    108
cluster1    108
cluster2    108
cluster3    108
cluster4    108
cluster5    108
Name: count, dtype: int64

In [ ]:
df_clusters['model'] = df_clusters['file_name'].apply(lambda x: x.split('_')[4])

In [7]:
df_clusters['model'].value_counts()

model
CNN       216
Linear    216
LSTM      216
Name: count, dtype: int64

In [ ]:
df_clusters['ph'] = df_clusters['file_name'].apply(lambda x: x.split('_')[-1][1:-4])

df_clusters['ph'].value_counts()
df_clusters['ph'] = df_clusters['ph'].astype(int)

In [10]:
df_clusters['ph'].value_counts()

ph
12    108
16    108
2     108
4     108
6     108
8     108
Name: count, dtype: int64

In [ ]:
df_clusters = df_clusters.drop(columns=['Unnamed: 0', 'file_name'])

## Sorting

In [ ]:
df_clusters = df_clusters.sort_values(by=['cluster', 'model', 'ph'])
df_clusters.reset_index(inplace=True, drop=True)

In [ ]:
df_clusters[(df_clusters['cluster'] == 'cluster0')]

In [14]:
# df_clusters.to_excel('Clusters_results_FULL.xlsx', index=False)

# General model

In [23]:
df_general_FULL = merge_csv_files('general')
df_general_FULL = df_general_FULL.round(2)
df_general_FULL

,Unnamed: 0,Model,A,B,C,D,E,A + B,RMSE,MSE,MAE,MAPE,file_name
0,0.0,ALL,39.51,47.87,1.15,10.93,0.54,87.38,61.62,3797.40,48.26,0.38,results_by_range_CNN_H12.csv
1,1.0,TBR_2,0.00,0.00,0.00,90.17,9.83,0.00,102.13,10429.53,99.03,2.05,results_by_range_CNN_H12.csv
2,2.0,TBR_1,0.00,0.00,0.00,90.19,9.81,0.00,89.84,8072.02,86.57,1.41,results_by_range_CNN_H12.csv
3,3.0,TIR,44.04,53.61,1.81,0.49,0.05,97.65,45.69,2087.17,36.47,0.35,results_by_range_CNN_H12.csv
4,4.0,TAR_1,47.02,46.91,0.08,5.99,0.00,93.93,52.46,2751.57,44.96,0.21,results_by_range_CNN_H12.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,NaN,TBR_2,0.01,0.00,0.00,94.66,5.33,0.01,81.76,6685.27,76.70,1.59,results_by_range_LSTM_H8.csv
104,NaN,TBR_1,0.00,0.00,0.00,94.05,5.95,0.00,72.76,5294.36,67.29,1.09,results_by_range_LSTM_H8.csv
105,NaN,TIR,48.82,48.93,1.70,0.51,0.03,97.75,41.13,1691.58,31.74,0.29,results_by_range_LSTM_H8.csv
106,NaN,TAR_1,58.91,37.19,0.28,3.62,0.00,96.10,49.54,2453.72,39.76,0.19,results_by_range_LSTM_H8.csv
107,NaN,TAR_2,39.67,37.57,0.08,22.68,0.00,77.24,92.98,8645.31,78.31,0.26,results_by_range_LSTM_H8.csv

In [ ]:
df_general_FULL['cluster'] = 'general'
df_general_FULL['model'] = df_general_FULL['file_name'].apply(lambda x: x.split('_')[3])
df_general_FULL['ph'] = df_general_FULL['file_name'].apply(lambda x: x.split('_')[-1][1:-4])
df_general_FULL['ph'] = df_general_FULL['ph'].astype(int)

df_general_FULL = df_general_FULL.drop(columns=['Unnamed: 0', 'file_name'])

In [ ]:
df_general_FULL = df_general_FULL.sort_values(by=['cluster', 'model', 'ph'])
df_general_FULL.reset_index(inplace=True, drop=True)

In [31]:
# df_general_FULL.to_excel('general_FULL.xlsx', index=False)

# Find differences CLUSTERS VS GENERAL

In [ ]:
list_clusters = df_clusters['cluster'].unique().tolist()

df_diff = pd.DataFrame(columns=df_clusters.columns)

for current_cluster in list_clusters:
    df_current_cluster = df_clusters[df_clusters['cluster'] == current_cluster]
    df_current_cluster.reset_index(inplace=True, drop=True)
    df_current_result = df_current_cluster.copy()
    df_current_result[['A', 'B', 'C', 'D', 'E', 'A + B', 'RMSE', 'MSE', 'MAE', 'MAPE']] = df_current_cluster[['A', 'B', 'C', 'D', 'E', 'A + B', 'RMSE', 'MSE', 'MAE', 'MAPE']] - df_general_FULL[['A', 'B', 'C', 'D', 'E', 'A + B', 'RMSE', 'MSE', 'MAE', 'MAPE']]
    df_diff = pd.concat([df_diff, df_current_result], ignore_index=True)

In [34]:
# df_diff.to_excel('Differences_CLUSTERS_VS_GENERAL_FULL.xlsx', index=False)